In [1]:
for i in range(1,11):
	print (7," * ", i , " = ", i * 7)

7  *  1  =  7
7  *  2  =  14
7  *  3  =  21
7  *  4  =  28
7  *  5  =  35
7  *  6  =  42
7  *  7  =  49
7  *  8  =  56
7  *  9  =  63
7  *  10  =  70

In [2]:
for i in range(1,11):
	print (9," * ", i , " = ", i * 9)

9  *  1  =  9
9  *  2  =  18
9  *  3  =  27
9  *  4  =  36
9  *  5  =  45
9  *  6  =  54
9  *  7  =  63
9  *  8  =  72
9  *  9  =  81
9  *  10  =  90

In [4]:
print("enter the table you want to be printed")
n=int(input("value of n"))
for i in range(1,11):
	print (n," * ", i , " = ", i * n)

enter the table you want to be printed

value of n 6

6  *  1  =  6
6  *  2  =  12
6  *  3  =  18
6  *  4  =  24
6  *  5  =  30
6  *  6  =  36
6  *  7  =  42
6  *  8  =  48
6  *  9  =  54
6  *  10  =  60

In [6]:
print("enter the table you want to be printed")
n=int(input("value of n"))
for i in range(0,n):
	print ( i + 1)

enter the table you want to be printed

value of n 4

1
2
3
4